Source: hypercontainer
Section: admin
Priority: optional
Maintainer: Hyper Dev Team <dev@hyper.sh>
Build-Depends: debhelper (>=9),
               libdevmapper-dev,
               libsqlite3-dev,
               libvirt-dev,
               libxen-dev,
               uuid-dev
Standards-Version: 3.9.6
Homepage: http://hypercontainer.io
Vcs-Git: git://github.com/hyperhq/hyperd.git
Vcs-Browser: https://github.com/hyperhq/hyperd

Package: hypercontainer
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: HyperContainer - Hypervisor-agnostic Docker Runtime
 Hyper is a VM based docker engine, it start a container image in
 VM without a full guest OS
